outputs/
*~
*.pyc
__pycache__
*.so
#*
.nfs*
*/#*
*/.#*

# PyPI dist
dist/*

# build info
build/*

# ADAS files should not be exported
aurora/adas_data/adf11/*
aurora/adas_data/adf15/*

# don't upload packaging egg-info
*egg-info/

# temporary g-files
g123456.12345

# various bits and pieces related to functionality and coverage tests
coverage.xml
junit
.coverage

# tex files for amjuel and hydhel
*.tex

# json databases should not bee shared publicly
*.json

# folder-related macbook files
*.DS_Store
